[submodule "microservices/lgm8-auth-service"]
	path = microservices/lgm8-auth-service
	url = git@github.com:Shin-9x/lgm8-auth-service.git
[submodule "lgm8-notification-service"]
	path = lgm8-notification-service
	url = https://github.com/Shin-9x/lgm8-notification-service
[submodule "microservices/lgm8-notification-service"]
	path = microservices/lgm8-notification-service
	url = https://github.com/Shin-9x/lgm8-notification-service
[submodule "microservices/lgm8-measurements-service"]
	path = microservices/lgm8-measurements-service
	url = https://github.com/Shin-9x/lgm8-measurements-service.git
